{{ define "main" -}}
{{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}

{{ if (.Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes)).Pages }}
<div class="posts">
    {{ range (.Paginate (where .Site.RegularPages "Type" "in" $frontPageTypes)).Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
        {{ .Content }}
        {{ else }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
        {{ end }}
    </article>
    {{- end }}
</div>
{{ else }}
<div class="post">
    {{ $content := .Site.GetPage (index $frontPageTypes 0) }}
    <h1>{{ $content.Title }}</h1>
    {{ $content.Content }}
{{ end }}

{{ partial "pagination.html" . }}
{{- end }}
